/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Prata&display=swap');

/* Global styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
}

html{
    background:url("../images/hp-bg-image.jpg") no-repeat center center;
    background-size:cover;
}
body{
    display:grid;
    width:100vw;
    height:100vh;
    font-family: 'Prata', sans-serif;
    letter-spacing: 4px;
}

main{
    display:grid;
    grid-template-rows: min(150px);
    justify-content: center;
    grid-gap: 1rem;
}

.quiz-container{
    background-color: rgba(0, 0, 0, 0.7);
    max-width:80%;
    max-height:80%;
    width:100%;
    height:100%;
    justify-self: center;
    align-self:center;
    padding: 10px;
}

.info-bar{
    height:50px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.fas, .fab, .far{
    color:#fff9e6;
    font-size: 1.6rem;
    
}

/* header styles start here*/
header{
    padding:10px;
    height:200px;
    display:grid;
    grid-template-columns: min(200px) auto;
}

h1{
    font-size: 5rem;
    color:#fff9e6;
    align-self:center;
}

/* Styles for quiz area layout start here */

.quiz-text h2{
    font-size: 3rem;
    text-align:center;
    padding:20px;
    color:#fff9e6;
}

/* Styles for difficulty quiz area start here */

.difficulty-btn-container{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.difficulty-btn{
    padding:20px;
    margin-top:12px;
    background-color:#4a0600;
    color:#fff9e6;
    font-size:2rem;
    width:50%;
    border: 2px #fff9e6 solid;
    outline: 1px solid #fff9e6;
    outline-offset: -6px;
    font-family: 'Prata', sans-serif;
    letter-spacing: 2px;
    
}

.difficulty-btn:hover{
    background-color:#fff9e6;
    color:#4a0600;
    border: 2px #4a0600 solid;
    outline: 1px solid #4a0600;
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}


.hide{
    display:none;
}